.main {
  padding: 1rem;
}

.name::first-letter {
  font-weight: bold;
}

.letterGroup {
  list-style: none;
  padding: 0;
}

.letterList {
  display: grid;
  list-style: none;
  padding: 0;
  margin: 0 -0.5em;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
}

.letterItem {
  padding: 0.5rem;
  aspect-ratio: 1/1; 
  text-align: center;
}
